In [4]:
import pandas as pd

In [3]:
raw_data = 'Resources/pollution_us_2000_2016.csv'
raw_data_df = pd.read_csv(raw_data)
raw_data_df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Resources/pollution_us_2000_2016.csv'

In [8]:
clean_data_df = raw_data_df[["State", "City","Date Local","NO2 Mean", "O3 Mean", "SO2 Mean", "CO Mean"]]
clean_data_df.head()

new = clean_data_df["Date Local"].str.split("-", n=1, expand = True)
clean_data_df["Year"] = new[0]

clean_data_df.drop(columns= ["Date Local"], inplace = True)
clean_data_df.drop(columns= ["City"], inplace = True)
clean_data_df.head()

<ipython-input-8-31c57716d215>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data_df["Year"] = new[0]
/Users/daltonfield/opt/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/frame.py:4160: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

     State   NO2 Mean   O3 Mean  SO2 Mean   CO Mean  Year
0  Arizona  19.041667  0.022500  3.000000  1.145833  2000
1  Arizona  19.041667  0.022500  3.000000  0.878947  2000
2  Arizona  19.041667  0.022500  2.975000  1.145833  2000
3  Arizona  19.041667  0.022500  2.975000  0.878947  2000
4  Arizona  22.958333  0.013375  1.958333  0.850000  2000

In [14]:
agg_summary = clean_data_df.groupby(["State", "Year"]).agg({"NO2 Mean":['mean'], "O3 Mean" :['mean'],
                                                           "SO2 Mean":['mean'], "CO Mean":['mean']})
agg_summary.head()

               NO2 Mean   O3 Mean  SO2 Mean   CO Mean
                   mean      mean      mean      mean
State   Year
Alabama 2013  12.065635  0.012099  0.750311  0.211007
        2014   9.411746  0.024660  1.186517  0.205921
        2015   9.078580  0.024000  1.009429  0.221027
        2016   9.524873  0.028348  0.835118  0.209514
Alaska  2014  11.658510  0.010307  5.951531  0.455444

In [15]:
agg_summary.to_csv('airquality.csv')