In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
subsidy_file = pd.read_csv('subsidy_by_state.csv')
subsidy_file.head(30)

    Unnamed: 0  year       state    subsidies  subsidies excluding hov
0            0  2010     Alabama     0.000000                 0.000000
1            0  2011     Alabama     0.000000                 0.000000
2            0  2012     Alabama     0.000000                 0.000000
3            0  2013     Alabama     0.000000                 0.000000
4            0  2014     Alabama     0.000000                 0.000000
5            0  2015     Alabama     0.000000                 0.000000
6            0  2010      Alaska     0.000000                 0.000000
7            0  2011      Alaska     0.000000                 0.000000
8            0  2012      Alaska     0.000000                 0.000000
9            0  2013      Alaska     0.000000                 0.000000
10           0  2014      Alaska     0.000000                 0.000000
11           0  2015      Alaska     0.000000                 0.000000
12           0  2010     Arizona  1670.348609               224.751412
13           0  2011     Arizona  1683.298172               250.838255
14           0  2012     Arizona  1738.507781               290.504033
15           0  2013     Arizona  1783.586250               339.687984
16           0  2014     Arizona  3053.968844               304.971596
17           0  2015     Arizona  2602.966516               461.460328
18           0  2010    Arkansas     0.000000                 0.000000
19           0  2011    Arkansas     0.000000                 0.000000
20           0  2012    Arkansas     0.000000                 0.000000
21           0  2013    Arkansas     0.000000                 0.000000
22           0  2014    Arkansas     0.000000                 0.000000
23           0  2015    Arkansas     0.000000                 0.000000
24           0  2010  California  5359.634000              2062.500000
25           0  2011  California  5310.283000              2062.500000
26           0  2012  California  5304.900000              2062.500000
27           0  2013  California  5303.941000              2062.500000
28           0  2014  California  5287.633000              2062.500000
29           0  2015  California  5344.072000              2062.500000