In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [4]:
file = 'Resources/public_transportation.csv'
raw_df = pd.read_csv(file)
raw_df.head(20)

,Overall,City,Total Score,Accessibility,Safety,Resources
0,90,"Gilbert, AZ",48.52,100,61,67
1,25,"Laredo, TX",61.52,99,5,43
2,76,"Glendale, AZ",50.84,98,61,67
3,49,"Birmingham, AL",56.15,97,30,44
4,93,"Arlington, TX",45.70,96,79,20
5,80,"Henderson, NV",50.09,95,37,76
6,69,"North Las Vegas, NV",52.72,94,37,76
7,83,"Chesapeake, VA",49.38,93,74,56
8,17,"Lubbock, TX",64.33,92,14,5
9,92,"Baton Rouge, LA",46.26,91,91,17
10,64,"Stockton, CA",53.82,90,9,84
11,24,"Chula Vista, CA",62.46,89,11,15
12,59,"Fort Wayne, IN",54.85,88,50,55
13,100,"Indianapolis, IN",21.13,87,100,39
14,86,"Mesa, AZ",49.00,86,61,67
15,72,"Winston-Salem, NC",51.63,85,69,14
16,77,"Garland, TX",50.38,84,79,20
17,78,"Hialeah, FL",50.28,83,45,94
18,16,"Boise, ID",64.45,82,3,37
19,42,"Aurora, CO",57.60,81,25,27