In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [9]:
file = 'Resources/public_transportation.csv'
raw_df = pd.read_csv(file)
sorted_df = raw_df.sort_values('Total Score',ascending = False)
sorted_df.head(10)

    Overall               City  Total Score  Accessibility  Safety  Resources
93        1        Seattle, WA        77.97              7       6          3
98        2         Boston, MA        77.84              2      34         10
99        3  San Francisco, CA        75.21              1      27         80
97        4     Washington, DC        71.23              3      48         52
54        5        Madison, WI        71.06             46       1          4
96        6    Jersey City, NJ        69.05              4      22         97
95        7       New York, NY        68.87              5      22         97
24        8           Reno, NV        68.13             76       8          1
70        9       Honolulu, HI        67.85             30      13         12
87       10       Portland, OR        66.82             13      31         29